@model Entities.Models.Deal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HsStageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HsStageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HsOwnerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HsOwnerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hsdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hsdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DealId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
