@model IEnumerable<Entities.Models.Pipeline>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HsPipeLineId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkOrder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HsPipeLineId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkOrder.WorkOrderId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PipelineId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PipelineId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PipelineId">Delete</a>|
                    <a asp-controller="StagesAnalysis" asp-action="Index" asp-route-id="@item.HsPipeLineId" asp-route-wid="@item.WorkOrderId">Analyze stages</a>
                    <a asp-controller="Hsowners" asp-action="Index" asp-route-id="@item.HsPipeLineId">Analyze owners</a>

                </td>
            </tr>
        }
    </tbody>
</table>


